#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    display: flex;
    gap: 20px;
    color: #ff6060;
    font-size: 17px;

    & :hover {
      text-decoration: underline;
    }

    & :visited {
      color: #ff6060;
    }
  }
}