@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

#navbar {
  @include flex-between;
  align-items: center;

  &__link {
    display: flex;
    gap: 20px;
    color: $color-primaire;
    font-size: 17px;

    & a {
      color: $color-primaire;
      
      &:hover {
        text-decoration: underline;
      }
    }

    &:visited {
      color: $color-primaire;
    }
  }
}

@media (max-width: 768px) {
  #navbar img {
    width: 100%;
  }
  #navbar__logo {
    width: 50%;
  }
  #navbar__link {
    font-size: 14px;
  }
}