@import "../../../sass/variables.scss";
@import "../../../sass/mixins.scss";

#appartment {
  width: 100%;
  background: $color-secondary;
  border-radius: 25px;
  margin-top: 50px;
  padding: 50px;
  display: flex;

  &__container {
    @include flex-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
  }
}

@media (max-width: 768px) {
  #appartment {
    padding: 0;
    background-color: white;

    &__container {
      flex-direction: column;
    }
  }
}